.testimonial-card {
    border-radius: 1.5rem;
}

.testimonial-avatar-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 15rem;
    height: 15rem;
}

.testimonial-avatar {
    width: 90%;
    height: 90%;
    border: 4px solid #f3f4f6;
}